#morseTable {
    column-count: 2;
    width: 572px;
}
.entry {
    font-size: 16px;
    margin: 9px 0px;
    white-space: nowrap;
}
.char {
    margin-right: 30px;
    font-family: Arial, sans-serif;
    width: 28px;
    display: inline-block;
}
.dot, .dash {
    margin-right: 10px;
    display: inline-block;
    background-color: black;
    width: 10px;
    height: 10px;
    line-height: 10px;
}
.dot {
    border-radius: 50%;
}
.dash {
    width: 30px;
}
@media screen and (max-width: 572px) {
    #morseTable {
        width: auto;
        margin: 5px 0px;
    }
    .entry {
        font-size: 10px;
    }
    .char {
        margin-right: 10px;
    }
    .dot, .dash {
        height: 5px;
        line-height: 8px;
    }
    .dot {
        width: 5px;
    }
    .dash {
        width: 15px;
    }
}
