body {
    font-family: Arial, Helvetica, sans-serif;
}
#instructions {
    max-width: 600px;
}
#morseTable {
    width: 572px;
}
#morseTableContent {
    column-count: 2;
}
.entry {
    font-size: 16px;
    margin: 9px 0px;
    white-space: nowrap;
    border-radius: 10px;
    padding: 5px;
}
.entry.highlighted {
    border: 4px solid lime;
}
.char {
    margin-right: 30px;
    font-family: Arial, sans-serif;
    width: 28px;
    display: inline-block;
}
.dot, .dash {
    margin-right: 10px;
    display: inline-block;
    background-color: black;
    width: 10px;
    height: 10px;
    line-height: 10px;
}
.dot {
    border-radius: 50%;
}
.dash {
    width: 30px;
}
#searchContainer {
    text-align: center;
}
#search {
    padding: 5px;
}
#practiseTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
#charLearningContainerContent:not(.active) {
    opacity: 0.3;
    position: absolute;
    pointer-events: none;
    z-index: -1;
}
#charLearningContainer {
    width: 50%;
    display: inline-block;
    position: relative;
}
#charLearningContainerStartContainer {
    text-align: center;
}
#charLearningContainerStartButton {
    padding: 10px 15px;
    font-size: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #eee;
}
#charLearningValue {
    height: 10px;
    display: block;
    margin-bottom: 25px;
}
#charLearningResult {
    padding: 5px;
}
#charLearningInput {
    width: 13px;
    outline: 0;
    padding: 5px;
}
#stopPracticingMessage {
    color: white;
    font-size: 20px;
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -11px;
    margin-left: 100px;
}
#practiceFrequencyValue {
    width: 36px;
    display: inline-block;
}
#generalPracticeSettings {
    text-align: center;
}
.verticalLine {
    display: inline;
    margin: 0px 20px;
}
#practiceWpm {
    width: 40px;
    padding: 5px;
}
#charLearningType {
    text-align: center;
    margin-bottom: 10px;
}
.inputtedMessageChar {
    padding: 1px;
    font-size: 30px;
}
.inputtedMessageChar.unknown::before {
    content: '?';
    background-color: #bbb;
    color: white;
    padding: 0px 5px;
}
.inputtedMessageChar.prosign {
    background-color: #bbb;
    color: white;
    padding: 0px 5px;
}
#fastPracticeContainer {
    background-color: white;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
}
#fastPracticeMorse {
    text-align: left;
    margin: auto;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#fastPracticePart1 {
    position: fixed;
    top: 75%;
    text-align: center;
    display: inline-block;
    transform: translateX(-50%);
}
#fastPracticeAnswer {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
@media screen and (max-width: 572px) {
    #morseTable {
        width: auto;
        margin: 5px 0px;
    }
    .entry {
        font-size: 10px;
    }
    .char {
        margin-right: 10px;
    }
    .dot, .dash {
        height: 5px;
        line-height: 8px;
    }
    .dot {
        width: 5px;
    }
    .dash {
        width: 15px;
    }
}